body {
    font-family: "Raleway";
    /* police d'écriture*/
    background-color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

p {
    margin-top: 8px;
    font-size: 25px;
}

h2 {
    margin-bottom: 2rem;
    text-decoration: underline;
}

.titre {
    margin-bottom: 2rem;
    margin-left: 12rem;
}

.container-fluid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* zone de text header */
    margin-top: 3rem;
}

.divshadow {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .5);
}

.accueil {
    /* boutonv page d'accueil */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 17px;
    height: 6rem;
    width: 6rem;
    background-image: url("./IMAGES/icon_home_2.png") !important;
    background-size: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

.contact {
    /* bouton page contact */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 17px;
    height: 6rem;
    width: 6rem;
    background-image: url("./IMAGES/icon_email.png") !important;
    background-size: cover;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

.closed {
    /* bouton page contact */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 8px;
    height: 3rem;
    width: 3rem;
    background-image: url("./IMAGES/icons_close.png") !important;
    background-size: cover;
    margin: 2rem 0 1.5rem 2rem;
    box-shadow: 0 7.5px 20px rgba(0, 0, 0, .5);
}

.button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    transform: scale(.95);
}

/* position des images html */
.positionimg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.dimimg {
    width: 90%;
}

/* position des images css */
div.imgcss {
    margin-left: 11%;
}

div.imgcss img {
    display: inline-flex;
    vertical-align: 0%;
    padding-left: 5px;
}

.menu {
    width: 95%;
}

.item {
    margin-bottom: 5px;
    overflow: hidden;
}

.btn {
    display: flex;
    padding: 16px 0 16px 0;
    border-radius: 0%;
    border-left: 5px solid black;
    background-color: rgb(204, 180, 180);
    box-shadow: 0 7.5px 20px rgba(0, 0, 0, .5);
    text-align: left;
}

.btn i {
    margin-right: 10px;
}

#span {
    margin-left: 1rem;
}

.smenu {
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.text {
    font-size: 20px;
    margin-left: 2rem;
}

.closed a {
    /* background-image: url("IMAGES/icons_close.png") !important; */
    background-size: cover;
    color: black;
}

.closed a:hover {
    color: #333;
    text-decoration: none;
    list-style: none;
}

.item:target .smenu {
    max-height: 100%;
}

hr {
    /* trait séparateur */
    width: 85%;
    text-align: center;
}

.hrcontainer {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hrfooter {
    /* .hr du footer*/
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.footer {
    /* .class du p du footer*/
    margin-bottom: 3rem;
}

footer {
    position: relative;
    padding-top: 3px;
    text-align: center;
    bottom: 0;
    height: 50px;
    width: 100%;
}